.auth {
  display: flex;
  align-items: center;
  column-gap: 12px;
  transition: opacity 0.3s ease 0s;
  &:hover {
    opacity: 0.5;
  }
  &__icon {
    width: 26px;
    height: 25px;
    @media (max-width: $md3) {
      display: none;
    }
  }
  &__text {
    font-size: calc(14px + 4 * ((100vw - 375px) / (1440 - 375)));
    line-height: 24px;
    position: relative;

    @media (min-width: $md1) {
      font-size: 18px;
      line-height: 24px;
    }
    @media (max-width: $md5) {
      font-size: 14px;
      line-height: 24px;
      margin-top: -12px;
      margin-right: 5px;
    }

    &::after {
      content: '';
      background-color: #fff;
      position: absolute;
      width: 115%;
      height: 1px;
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
    }
  }
}
