.auth {
  display: flex;
  align-items: center;
  column-gap: 12px;
  &__icon {
    width: 26px;
    height: 25px;
  }
  &__text {
    font-size: 18px;
    line-height: 24px;
    position: relative;

    &::after {
      content: '';
      background-color: #fff;
      position: absolute;
      width: 115%;
      height: 1px;
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
    }
  }
}
