.cookies-notification {
  position: fixed;
  height: 93px;
  left: 0px;
  top: 100%;
  width: 100%;
  background: #212834;
  transform: translateY(-100%);
  transition: all 0.8s ease 0s;
  z-index: 999;
  &__box {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $md3) {
      column-gap: 60px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 19px;
    @media (max-width: $md3) {
      font-size: 12px;
      line-height: 16px;
    }
  }

  &__button {
    flex: 1 0 132px;
    max-width: 132px;
    height: 50px;
    margin-right: -70px;
    background: rgba(255, 255, 255, 0.1);
    border: 0.5px solid #ffffff;
    border-radius: 6px;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    @media (max-width: 1400px) {
      margin-right: 0px;
    }
    @media (max-width: $md3) {
      flex: 1 0 92px;
      max-width: 92px;
      height: 50px;
    }
    &:hover {
      background: #0d699e;
    }
  }
  &--hidden {
    transform: translateY(0%);
  }
}
