@font-face {
  font-family: 'Montserrat-700';
  src: url('../assets/fonts/montserrat-700.woff');
}
@font-face {
  font-family: 'Noto-sans-400';
  src: url('../assets/fonts/noto-sans-400.woff');
}

@font-face {
  font-family: 'Noto-sans-700';
  src: url('../assets/fonts/noto-sans-700.woff');
}
