.footer {
  &__box {
    padding-top: 0px;
    padding-bottom: 86px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 410px;
      height: 410px;
      top: calc(100% - 300px);
      left: -200px;

      background: linear-gradient(12deg, #f101bf 3%, #0066ff 97%);
      filter: blur(340px);
      transform: rotate(6deg);
    }
    @media (max-width: $md3) {
      padding-bottom: 26px;
    }
  }

  &__top {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
    @media (max-width: $md3) {
      row-gap: 45px;
    }
  }

  &__title {
    text-transform: uppercase;
    font-family: 'Noto-sans-700';
    font-size: 24px;
    line-height: 33px;
    margin: 0;

    letter-spacing: 0.03em;
  }
  &__store-box {
    column-gap: 60px;
  }

  &__columns {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    @media (max-width: $md4) {
      flex-direction: column-reverse;
      row-gap: 58px;
      align-items: center;
    }
    @media (max-width: $md3) {
      margin-top: 71px;
    }
  }
  &__contact {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    @media (max-width: $md4) {
      align-items: center;
      flex-direction: row;
      column-gap: 4px;
    }
  }
  &__column {
    display: flex;
    flex-direction: column;
    @media (max-width: $md4) {
      row-gap: 12px;
    }
    @media (max-width: $md4) {
      align-items: center;
      width: 100%;
    }
  }

  &__logo {
    width: 82px;
    height: 17px;
    @media (max-width: $md3) {
      width: 71px;
      height: 14px;
    }
  }

  &__text {
    margin: 0;
    color: #fff;
    font-family: 'Avenir';
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    margin-top: 15px;
    @media (max-width: $md3) {
      margin-top: 0px;
    }
    @media (max-width: $md4) {
      font-size: 14px;
      line-height: 19px;
    }
    &:nth-child(4) {
      margin-top: 20px;
      font-weight: 800;
      letter-spacing: 0.4px;
    }
  }
  &__column--right {
    row-gap: 25px;
    margin-top: -3px;
    .footer__text {
      margin: 0;
      font-family: 'Avenir';
      font-weight: 800;
      letter-spacing: 0.4px;
      @media (max-width: $md4) {
        font-size: 18px;
        line-height: 24px;
      }
    }
    @media (max-width: $md3) {
      row-gap: 15px;
    }
  }
  &__link {
    display: block;
    margin: 0;
    color: #fff;
    font-family: 'Avenir';
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.4px;
    @media (max-width: $md4) {
      font-size: 14px;
      line-height: 19px;
    }
  }

  &__app-store {
    width: 259px;
    height: 81px;
    @media (max-width: $md3) {
      width: 185px;
      height: 60px;
    }
  }

  &__google-play {
    width: 292px;
    height: 81px;
    @media (max-width: $md3) {
      width: 185px;
      height: 60px;
    }
  }
}
