.form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 23px;
  position: relative;
  z-index: 100;
  @media (max-width: $md3) {
    row-gap: 16px;
  }
  &__input {
    flex: 1 1 100%;
    padding: 28px 23px;
    background: #ffffff;
    border: 1px solid #5c5c5c;
    border-radius: 10px;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    outline: none;
    &::placeholder {
      color: #bfbfbf;
    }
    @media (max-width: $md3) {
      padding: 17px 11px;
      font-size: 16px;
      line-height: 21px;
    }
  }
  &__input--short {
    flex: 1 1 40%;
    @media (max-width: $md3) {
      flex: 1 1 100%;
    }
  }
  &__input--error {
    border: 2px solid #ff0000;
  }
  &__textarea {
    outline: none;
    overflow: hidden;
    overflow-wrap: break-word;
    resize: none;
    white-space: pre-line;
    height: 199px;
    @media (max-width: $md3) {
      height: 140px;
    }
  }
  &__submit {
    margin-top: 37px;
    width: 398px;
    height: 80px;
    background: #000000;
    border: 1px solid #ffffff;
    border-radius: 10px;
    color: #ffffff;
    font-family: 'Montserrat-700';
    font-size: 24px;
    line-height: 29px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    @media (max-width: $md3) {
      width: 345px;
      margin-top: 25px;
    }
    &:hover {
      background: #0d699e;
    }
    &:disabled {
      opacity: 0.5;
    }
  }
}
