.get-in-touch {
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 450px;
      height: 450px;
      left: 260px;
      top: -200px;
      background: url('../assets/img/get-in-touch/01.svg') 0 0 / cover no-repeat;
      @media (max-width: $md3) {
        left: -50%;
        top: -20%;
      }
    }
    &::before {
      content: '';
      position: absolute;
      top: calc(100% - 640px);
      left: calc(100% - 400px);
      width: 499px;
      height: 874px;
      background: url('../assets/img/get-in-touch/02.svg') 0 0 / cover no-repeat;
    }
  }
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    .section__text {
      text-align: center;
      width: 580px;
      @media (max-width: $md3) {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
  &__form {
    max-width: 818px;
    margin: 82px auto;
    @media (max-width: $md3) {
      margin-top: 48px;
      margin-bottom: 60px;
      padding: 0 2px;
    }
  }
}
