.header {
  &__box {
    padding-top: 40px;
    display: flex;
    align-items: center;
    column-gap: 108px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 783px;
      height: 663px;
      background: url('../assets/img/header/01.svg') 0 0 / cover no-repeat;
      transform: rotate(-15deg);
      transform-origin: 50% 0 0;
      left: calc(100% - 700px);
      top: -20px;
      @media (max-width: $md3) {
        left: 50%;
        transform: translate(0, -20%);
      }
      @media (max-width: $md3) {
        top: 0;
        left: 0;
      }
    }

    @media (max-width: $md3) {
      justify-content: space-between;
      padding-top: 48px;
      padding-left: 20px;
    }
  }
  &__auth {
    color: #fff;
  }
}

.logo {
  width: calc(95px + 103 * ((100vw - 375px) / (1440 - 375)));
  height: calc(39px + 42 * ((100vw - 375px) / (1440 - 375)));
  img {
    width: 100%;
    height: 100%;
  }

  @media (min-width: $md1) {
    width: 198px;
    height: 81px;
  }
  @media (max-width: $md5) {
    width: 95px;
    height: 39px;
  }
}
