.id-scanner {
  background: linear-gradient(180deg, #000000 -3%, rgba(0, 0, 0, 0) 57%, #000000 100%),
    url(../assets/img/id-scanner/01.webp) no-repeat center 0 / cover;

  background-size: 100% 840px;

  &__box {
    display: flex;
    align-items: flex-end;
    column-gap: 130px;
  }

  &__images {
    margin-top: 445px;
    display: flex;
    column-gap: 48px;
  }

  &__image {
    flex: 1 1 333px;
    max-width: 333px;
    height: 667px;
  }
  &__content {
    margin-bottom: 75px;
    max-width: 316px;
  }
}
