.members {
  &__box {
    display: flex;
    justify-content: center;
    column-gap: 81px;
    padding-top: 73px;
    padding-bottom: 60px;
    @media (max-width: 700px) {
      flex-direction: column;
      align-items: center;
      row-gap: 30px;
    }
    @media (max-width: $md2) {
      column-gap: 40px;
    }
    @media (max-width: $md3) {
      column-gap: 20px;
      padding: 30px 17px 60px 17px;
    }
  }

  &__item {
    padding: 62px 90px 62px 54px;
    flex: 1 1 503px;
    max-width: 503px;
    height: 312px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    @media (max-width: 1100px) {
      padding: 40px;
      flex: 1 1 50%;
    }
    @media (max-width: $md3) {
      padding: 40px 20px;
    }
    @media (max-width: 700px) {
      width: 100%;
    }
    @media (max-width: $md5) {
      padding: 39px 54px 40px 30px;
    }
  }

  &__text {
    margin: 0px;
    font-family: 'Noto-sans-700';
    font-style: normal;
    font-weight: 700;
    font-size: calc(24px + 6 * ((100vw - 375px) / (1440 - 375)));
    line-height: 41px;
    white-space: pre;
    @media (min-width: $md1) {
      font-size: 30px;
      line-height: 41px;
    }
    @media (max-width: $md5) {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &__link {
    font-size: calc(18px + 6 * ((100vw - 375px) / (1440 - 375)));
    line-height: 33px;
    text-decoration-line: underline;
    color: #ffffff;
    @media (min-width: $md1) {
      font-size: 24px;
      line-height: 33px;
    }
    @media (max-width: $md5) {
      font-size: 18px;
      line-height: 24px;
    }
  }
}
