$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1440px;
$md1: $maxWidthContainer + 12 + px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

$white: #fff;
$black: #010101;
$pink: #ffbca2;
$green: #3dda69;
$error: #ff7e7e;
$red: rgb(194, 63, 63);
$background: #e5e5e5;
$gray: #c4c4c4;
